#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 3em;
}

.read-the-docs {
  color: #888;
}
/* App.css */
.app {
  font-family: Arial, sans-serif;
}

.light {
  background-color: #fff;
  color: #333;
}

.dark {
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 30%;
}

.content {
  width: 70%;
}

.qari-list,
.surah-selection,
.audio-player,
.bookmark-list,
.theme-selector {
  margin-bottom: 20px;
}

audio {
  width: 100%;
}

button {
  cursor: pointer;
}

.app[theme='dark'] {
  background-color: #222;
  color: #eee;
}

.app[theme='sepia'] {
  background-color: #f0e8cf;
  color: #333;
} 

body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.pinimg.com/originals/2c/19/7d/2c197db4eb3e3695bc09777a31a86de2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.light {
  color: #333;
}

.dark {
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 30%;
}

.content {
  width: 70%;
}

.qari-list,
.surah-selection,
.audio-player,
.bookmark-list,
.theme-selector {
  margin-bottom: 20px;
}

audio {
  width: 100%;
}

button {
  cursor: pointer;
}

